<!DOCTYPE html>
<html>
<head>
  <title>FormApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    body {
      width: 500px;
      margin: 0 auto;
    }
    .text input {
      width: 300px;
      float: right;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
